@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  background: black;
  }

  ::selection {
    background: #3b82f6;
      color: white;
      }
                                          
                                        
